@font-face {
    font-family: Markazi;
    src: url('./assets/MarkaziText-VariableFont_wght.ttf');
    font-family: Karla;
    src: url('./assets/Karla-VariableFont_wght.ttf');
}

*{
    list-style-type :none;
    text-decoration: none;
}

 .Nav , .Footer {
 display: flex;
 }

 .Footer>li , .Nav li {
  flex-grow: 1;
  font-family: Karla;
 }

.Nav li {
    font-weight: bold;
}

.Footer img {
    width: 5rem;
}

.Footer{
    background-color: #F4CE14;
    padding:  1rem ;
}



/* ul:nth-child(1) {
    font-weight: bold;
    font-size: larger;
 } */